{% extends "users/base.html" %}
{% load static %}
{% block body %}
  <h2 class="text-3xl font-normal mb-2 text-gray-500 ml-2">Friends of {{ user.username }}</h2>
  {% if friendships %}
    <ul>
      {% for friendship in friendships %}
        <li class="user-container flex mx-5 my-5">
          <img class="h-10 w-10 rounded-full ml-2 mr-2" 
               src="{{ friendship.to_user.profile.photo.url }}" 
               alt="{{ friendship.to_user.username }}'s Profile Photo" 
               onerror="this.onerror=null; this.src='{% static 'users/images/user.png' %}'">
          {{ friendship.to_user.username }}  ({{ friendship.created_at|date:"F j, Y" }})
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'friends_create' user_id=request.user.id %}" class="btn btn-primary">Find Friends</a>
  {% else %}
    <p>Sorry, for now {{ user.username }} has no friends yet. Try to make connections to other users.</p>
    <a href="{% url 'friends_create' user_id=request.user.id %}" class="btn btn-primary">Find Friends</a>
  {% endif %}a
{% endblock %}


