{% extends "users/base.html" %}
{% block title %}
    Home Page
{% endblock  %}

{% comment %} {% block css_files  %}
    <link rel="stylesheet" href="{% static "index.css" %}" />
{% endblock  %} {% endcomment %}

{% comment %} <div class="row">
    <div class="col-*-*"></div>
    <div class="col-*-*"></div>
    <div class="col-*-*"></div>
  </div>
 {% endcomment %}


{% block content %}

<div class="container">
  

    <h1>
        Homepage for Users App
    </h1>
    {% comment %} <img src="{% static "media/users/14/20230916_191737.jpg" %}" alt="Ammar - The admin Of This Blog" /> {% endcomment %}
    
    {% for post in posts %}
    <h2> {{post.title}} </h2>
    <img src="{{post.image.url}}" alt="{{post.title}}" style="width: 500px; height: auto;">
    <p> {{post.caption}} </p>
    <p> {{post.created_at}} </p>    
    {% endfor %}
    
    <a href={% url 'change_password' %}>Change Password </a>
    <p></p>
    <a href={% url 'edit' %}>Edit </a> your profile
</div>
{% endblock  %}

