{% extends "users/base.html" %}

{% block title %}
    Password Reset Confirmed!
{% endblock  %}

{% block content %}
    <style>
      .tab-text {
        color: #333; /* darker text color */
      }
    </style>
    <div style="max-width: 800px; margin: 40px auto; padding: 40px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        {% if validlink  %}
            <h2 class="tab-text" style="font-weight: bold; text-align: left;">Create a new password</h2>
            <form method='POST' style="max-width: 800px; margin: 40px auto; padding: 40px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                {% csrf_token %}
                {{form.as_p}}
                <input type='submit' value="Reset Password" style="background-color: #2ecc71; padding: 15px 30px; border: none; border-radius: 5px; color: #000; cursor: pointer; font-size: 18px;">
            </form>
        {% else %}
            <h2 class="tab-text" style="color: red; text-align: left;">Password reset link is invalid</h2>
        {% endif %}
    </div>
{% endblock  %}


{% comment %} {% extends "users/base.html" %}

{% block title %}
    Password Reset Confirmed!
{% endblock  %}

{% block content %}
    {% if validlink  %}
    <form method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <input type='submit'>
    </form>

    {% else %}
    <h2> Password reset link in invalid </h2>

    {% endif %}
{% endblock  %} {% endcomment %}