{% block title %}
    Reset Password
{% endblock  %}

{% block content %}
    <div class="reset-password-container">
        <h1 style="font-weight: bold; color: #00698f;">Reset Password</h1>
        <form method="post" style="max-width: 300px; margin: 40px auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="background-color: #2ecc71; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Reset Password</button>
        </form>
    </div>
{% endblock  %}



{% comment %} 

{% extends "users/base.html" %}

{% block title %}
    Reset Password
{% endblock  %}

{% block content %}
    <h1>Reset Password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset Password</button>
    </form>
{% endblock  %} 
 {% endcomment %}
