{% block title %}
    Password Reset Done!
{% endblock  %}

{% block content %}
    <div class="password-reset-done">
        <h1 style="font-weight: bold; color: #00698f; text-align: center;">Password Reset Done!</h1>
        <div class="message-container" style="max-width: 400px; margin: 40px auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <p style="font-size: 18px; color: #333; text-align: left;">Your password has been reset successfully.</p>
            <p style="font-size: 18px; color: #333; text-align: left;">You can now <a href="{% url 'login' %}" style="background-color: #2ecc71; padding: 5px; border-radius: 5px; text-decoration: none; color: #000;">login</a> with your new password.</p>
        </div>
    </div>
{% endblock  %}



{% comment %} {% extends "users/base.html" %}

{% block title %}
    Password Reset Done!
{% endblock  %}

{% block content %}
    <h1>Password Reset Done!</h1>
    <p>Your password has been reset successfully. You can now <a href="{% url 'login' %}">login</a> with your new password.</p>
{% endblock  %} {% endcomment %}