{% extends "users/base.html" %}

{% block title %}
    Password Changed Successfully
{% endblock  %}

{% block content %}

<style>
    .success-message {
      background-color: #dff0d8; /* light green background color */
      padding: 20px; /* add some padding */
      border: 1px solid #c6f7d0; /* add a border */
      border-radius: 10px; /* add a rounded corner */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a subtle shadow */
    }
  </style>
  <div class="success-message">
      <h1 style="font-weight: bold; color: #3e8e41;">Password Changed Successfully!!</h1>
      <p style="font-size: 18px; color: #666;">Your password has been changed successfully. You can now <a href="{% url 'login' %}" style="text-decoration: none; color: #337ab7;">login</a> with your new password.</p>
  </div>

    {% comment %} <div class="max-w-md mx-auto p-4 pt-6 md:p-6 lg:p-12">
        <h1 class="text-3xl font-bold text-blue-600 mb-4">Password Changed Successfully!!</h1>
        <p class="text-lg text-gray-600">
            Your password has been changed successfully. You can now 
            <a class="text-blue-600 hover:text-blue-800" href={% url 'login' %}>login</a> 
            with your new password.
        </p>
    </div> {% endcomment %}
{% endblock %}



{% comment %} {% extends "users/base.html" %}

{% block title %}
    Password Changed Sucsesfully  
{% endblock  %}

{% block content %}
    <h1>Password Changed Sucsesfully!!</h1>
    <p>Your password has been changed sucsefully. You can now <a href={% url 'login' %}>login</a> with your new password.</p>
{% endblock %} {% endcomment %}