{% extends "users/base.html" %}

{% block title %}
    Registration completed!
{% endblock  %}

{% block content %}
  <style>
    .success-message {
      background-color: #dff0d8; /* light green background color */
      padding: 20px; /* add some padding */
      border: 1px solid #c6f7d0; /* add a border */
      border-radius: 10px; /* add a rounded corner */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a subtle shadow */
    }
  </style>
  <div class="success-message">
      <h1 style="font-weight: bold; color: #3e8e41;">Registration is Done!!</h1>
      <p style="font-size: 18px; color: #666;">Thank you for registering! You can now <a href="{% url 'login' %}" style="text-decoration: none; color: #337ab7;">login</a> to your account.</p>
  </div>
{% endblock %}





{% comment %} {% extends "users/base.html" %}

{% block title %}
    Registration completed!
{% endblock  %}

{% block content %}
    <h1>  Registration is Done!!  </h1>
    <p>Thank you for registering! You can now <a href="{% url 'login' %}">login</a> to your account.</p>
{% endblock  %} {% endcomment %}