{% extends 'users/base.html' %}
{% load static %}
{% block body %}
<div class="flex items-center mx-5 my-5">
    <img class="h-10 w-10 rounded-full" src="{{ request.user.profile.photo.url }}" alt="User Profile Photo">
    <h2 class="text-xl ml-2 font-bold text-indigo-500">Edit {{ request.user.username }}'s Profile</h2>

    <div class="flex mt-5 p-10 justify-center">
    <h2 class="text-3xl font-normal mb-2 text-gray-500">My Posts</h2>
</div>
<div>Create Post</div>
<div class="grid grid-cols-1 gap-6 mx-auto p-10">
    {% for post in posts %}
    <a href="#" class="flex flex-col items-center">
        <div class="rounded overflow-hidden w-[470px] h-[470px] bg-white shadow-lg">
            <div class="user-container flex mx-5 my-5">
                <img class="h-10 w-10 rounded-full ml-2" src="{{ profile.photo.url }}" alt="User Profile Photo">
                <div class="mx-2 my-2 font-bold"><span class="text-indigo-500">{{ post.user }}</span></div>
            </div>
            <img src="{{ post.image.url }}" alt="Post Image" class="object-cover w-full h-full">
        </div>
        <div class="px-6 py-4">
            <div class="icon-container flex gap-3 justify-start">
                <img class="w-6 h-6 ml-2" src="{% static 'users/images/like.png'%}" alt="like-button">
                <img class="w-6 h-6 ml-2" src="{% static 'users/images/comment.png'%}" alt="comment-button">
                <img class="w-6 h-6 ml-2" src="{% static 'users/images/share.png'%}" alt="share-button">
            </div>
        </div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{post.title}}</div>
            <p class="text-gray-700 text-base">{{post.caption}}</p>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
