{% extends 'users/base.html' %}
{% load static %}
{% block body %}
<div class="flex items-center mx-5 my-5">
    <img class="h-10 w-10 rounded-full" src="{{ request.user.profile.photo.url }}" alt="User Profile Photo">
    <a class="text-xl ml-2 font-bold text-indigo-500" href="{% url 'edit' %}">
        <h2>Edit {{ request.user.username }}'s Profile</h2>
    </a>
</div>

<div class="flex mt-5 p-10 justify-center">
    <h2 class="text-3xl font-normal mb-2 text-gray-500">My Posts</h2>
</div>

<div class="grid grid-cols-1 gap-6 mx-auto p-10 justify-center">
    {% for post in posts %}
    <div class="rounded overflow-hidden w-[470px] h-[470px] bg-white shadow-lg">
        <div class="user-container flex mx-5 my-5">
            <img class="h-10 w-10 rounded-full ml-2" src="{{ post.user.profile.photo.url }}" alt="User Profile Photo">
            <div class="mx-2 my-2 font-bold"><span class="text-indigo-500">{{ post.user.username }}</span></div>
        </div>
        <img src="{{ post.image.url }}" alt="Post Image" class="object-cover w-full h-full">
    </div>
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ post.title }}</div>
        <p class="text-gray-700 text-base">{{ post.caption }}</p>
        <a href="{% url 'edit_post' post.id %}" class="bg-blue-500 text-white px-4 py-2 rounded mt-2">Edit your Post</a>
    </div>
    <div class="py-5">
        {% for comment in post.comments.all %}
            <span class="font-bold text-gray-800">{{ comment.posted_by }} on {{ comment.created }}</span>
            <p class="text-xs text-gray-600">{{ comment.body }}</p>
            <br>
        {% endfor %}
    </div>
    {% endfor %}

<div class="m-10">
    <h2 class="text-2xl font-bold">Create a Post</h2>
    <div class="container py-5 mx-10">
        <form method="post" class="bg-white shadow-md m-10 px-8 rounded pt-6 pb-8 mb-4 w-4/5" enctype="multipart/form-data">
            {% csrf_token %} 
            <div class="mb-2">
              <label class="block text-grey-700 text-sm font-bold mb-2" for="">Add Title</label>
              <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700">
                {{ form.title }}
              </div>
            </div>
            <div class="mb-2">
              <label class="block text-grey-700 text-sm font-bold mb-2" for="">Add Image</label>
              <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700">
                {{ form.image }}
              </div>
            </div>
            <div class="mb-2">
              <label class="block text-grey-700 text-sm font-bold mb-2" for="">Add Text</label>
              <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700">
                {{ form.caption }}
              </div>
            </div>
           
             <button type="submit" class="bg-green-500 text-white my-5 px-5 py-2">Submit</button>
          </form>
    </div>
</div>


{% endblock %}